body {
	background: #abbaab; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #abbaab, #ffffff);
	background: linear-gradient(to right, #abbaab, #ffffff);
}

.App {
	text-align: center;
}

.monster-text {
	font-family: 'Bigelow Rules', cursive;
	font-size: 72px;
	color: purple;
}
